body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sis1{
    background: black;
}

* {
    box-shadow: none;
}




.sis1 .logo{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}

.sis1 .logo img{
 
    width: 50%;
}



.sis2{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   background: black;
}

.title-side2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}


.button-side{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;

}

.button-side h2{
    color: white;
}

.sis2 button{

    border: 5px solid white;
    width: 540px;
    height: 150px;
    margin: 20px;
    background: transparent;
    font-size: 50px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}



#button-1:hover{
    background: url(../assets/img/kanye-plane.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  
}


#button-2:hover{
    background: url(../assets/img/money.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    letter-spacing: 15px;
  
}

.sis3{
    background: black;
    color: white;
    
    
}

.transport-side{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.transport-side h3{
    border-bottom: 5px solid white;
   padding-bottom: 30px;
}

.sis4{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
   background: black;
   
}

.inscription-entreprise{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#btn-adherent, #btn-enterprise{
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    color: white;
}

.sis4 h3{
    color: white;
}

.sis4 #btn-inscription-adherent{
    color: white;
    background: black;
    border: 4px solid white;
    padding: 20px;
}

@media only screen 
   and (max-width : 607px) {
   
.button-side{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    text-align: center;

}



.button-side h2{
    color: white;
    font-size: 10vw;
}

.sis2 button{

    border: none;
    width: 40%;
    height: 150px;
    margin: 20px;
    background: transparent;
    font-size: 7vw;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.inscription-entreprise{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#btn-adherent, #btn-enterprise{
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 4vw;
    letter-spacing: 1px;
    color: white;
}

.sis4 h3{
    color: white;
    font-size: 4vw;
}

.sis4 #btn-inscription-adherent{
    color: white;
    background: black;
    border: 4px solid white;
    padding: 20px;
}
}